<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/home.css" />
</head>
</div>
<body class="dashboard">
      <div>
        <div class="header">
         <div class="container">
          <div class="navbar">
          <div class="logo">
            <h1>Reaso </h1>
          </div> 
            <nav>
              <a href="/logout" class="nav-link">Logout</a>
            </nav>
          </div>
         </div>
  <main>
    <div class="hero">
      <h1>Welcome to Our Restaurant</h1>
      <p>Delicious food, amazing ambience, and great hospitality await you!</p>
      <a href="/menu" class="cta-button">Explore Menu</a>

    </div>
  </main>
  <footer>
    <p>&copy; 2025 Restaurant Name. All rights reserved.</p>
  </footer>
</body>
</html>