<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class = auth_page>
  <div class="wrapper">
  <form method="POST" action="/login">
      <h2>Login</h2>
        <div class="input-field">
        <input type="text" name="username" required >
        <label>Username</label>
      </div>
      <div class="input-field">
        <input type="password" name="password" required>
        <label>Password</label>
      </div>
      <div class="forget">
        <label for="remember">
          <input type="checkbox" id="remember">
          <p>Remember me</p>
        </label>
        <a href="/register">Forgot password?</a>
      </div>
      <button type="submit">Log In</button>
      <div class="register">
        <p>Don't have an account? <a href="/register">Signup</a></p>
      </div>
    </form>
    <% if (error) { %>
      <p style="color: #ffff"><%= error %></p>
      <% } %>
  </div>
</body>
</html>

